numpy
matplotlib
pandas
scipy
scikit-learn
pybel
rdkit-pypi
mdanalysis<1
biopython==1.71
mdtraj==1.9.5
mendeleev
sympy
pyscf
papermill
jupyter
nglview
beautifulsoup4
# for nlcc
rich==10.2.2
commonmark==0.9.1
openai==0.6.4
pyperclip==1.8.2
pyrate-limiter==2.3.4
zipp==3.4.1